.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  margin-bottom: 100px;
}

.number_of_trades {
  margin-bottom: 100px;
}
.chart {
  /* border: solid; */
  width: 100%;
  height: 700px;
  margin-bottom: 200px;
}

.filter {
  margin-bottom: 70px;
}
